* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular", "-apple-system", "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif;
}

body {
  background-color: #ebebeb;
  color: #484848;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1), 0px 2px 24px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.title h1 {
  font-size: 2.5em;
  color: #484848;
}

.title p {
  font-size: 1em;
  color: #484848;
}

.passlength {
  margin-bottom: 20px;
}

.password-length {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #484848;
}

.options {
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin: 10px 0;
  color: #484848;
}

.options input[type="checkbox"] {
  margin-right: 10px;
}

.generate {
  margin-bottom: 20px;
  text-align: center;
}

.generate button {
  padding: 10px 20px;
  background-color: #ff5a5f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate button:hover {
  background-color: #ed4956;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.result span {
  flex-grow: 1;
  margin-right: 20px;
  color: #484848;
}

.copy {
  padding: 10px 20px;
  background-color: #ff5a5f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy:hover {
  background-color: #ed4956;
}

#result-el {
  font-size: 1.5rem;
  font-weight: 300;
  color: #484848;
}
